<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="/orderimo/" style="font-family: 'Space Grotesk', sans-serif;">
      <i class="fa-solid fa-bag-shopping text-accent me-2"></i>Orderimo
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainnav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnav">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item"><a class="nav-link nav-link-custom" href="/orderimo/">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-custom dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-microchip me-1"></i>Electronics</a>
          <ul class="dropdown-menu dropdown-menu-custom">
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=phones_tablets">Phones & Tablets</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=computers_laptops">Computers & Laptops</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=audio_headphones">Audio & Headphones</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=electronics">All Electronics</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-custom dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-house me-1"></i>Home & Living</a>
          <ul class="dropdown-menu dropdown-menu-custom">
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=bedroom">Bedroom</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=kitchen">Kitchen</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=decor">Decor</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=garden">Garden</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-custom dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-shirt me-1"></i>Fashion</a>
          <ul class="dropdown-menu dropdown-menu-custom">
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=men">Men</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=women">Women</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=shoes">Shoes</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/orderimo/products/?category=accessories">Accessories</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link nav-link-custom" href="/orderimo/products/">All Products</a></li>
        <li class="nav-item"><a class="btn btn-primary-custom mt-1" href="/bag/"><i class="fa-solid fa-cart-shopping me-1"></i>Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
