<nav class="navbar navbar-expand-lg navbar-pet sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="/petshop/" style="font-family: 'Poppins', sans-serif;">
      <i class="fa-solid fa-paw text-pet-accent me-2"></i>PetShop Ireland
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#petnav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="petnav">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item"><a class="nav-link nav-link-pet" href="/petshop/">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-pet dropdown-toggle" href="#" data-bs-toggle="dropdown">🐶 Dogs</a>
          <ul class="dropdown-menu dropdown-menu-custom">
            <li><a class="dropdown-item dropdown-item-custom" href="/petshop/products/?category=dogs">All Dogs</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/petshop/products/?category=dog_beds">Beds & Bedding</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/petshop/products/?category=dog_food">Food & Treats</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/petshop/products/?category=dog_toys">Toys</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-pet dropdown-toggle" href="#" data-bs-toggle="dropdown">🐱 Cats</a>
          <ul class="dropdown-menu dropdown-menu-custom">
            <li><a class="dropdown-item dropdown-item-custom" href="/petshop/products/?category=cats">All Cats</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/petshop/products/?category=cat_litter">Litter & Cat Loo</a></li>
            <li><a class="dropdown-item dropdown-item-custom" href="/petshop/products/?category=cat_food">Food</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link nav-link-pet" href="/petshop/products/?category=fish_aquatics">🐟 Fish</a></li>
        <li class="nav-item"><a class="nav-link nav-link-pet" href="/petshop/products/?category=birds">🐦 Birds</a></li>
        <li class="nav-item"><a class="nav-link nav-link-pet" href="/petshop/products/?category=pet_food">🦴 Pet Food</a></li>
        <li class="nav-item"><a class="btn btn-pet mt-1" href="/petshop/bag/"><i class="fa-solid fa-cart-shopping me-1"></i>Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
